/untracked/
*.aux
*.blg
*.bbl
*.bcf
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.gz
*.toc

# Ignore all files except for specific ones
# **

# # Include the specified files and directories
# !Math.tex
# !appendix.tex
# !header.tex
# !ref.bib
# !master.tex
# !master.pdf
# !figures/
# !lectures/

# # Exclude the specified directories
# e370/**
# e475/**
# masa/**
# python-notes.py
# r101/**
# templates/**
# untracked/**
# vimnotes.txt
